<html>
<head>
    <script src="https://cdn.ably.io/lib/ably.min-1.js" type="text/javascript"></script>
</head>
<body>
<h1>Publish &amp; Subscribe sample</h1>
<iframe src="/publish" id="myFrame"></iframe>
</body>
<script type="text/javascript">
    document.getElementById("myFrame").height = "400";
    var realtime = new Ably.Realtime('6WX-UA.hB1OXA:n1sFldnLsS31H6od');
    var channel = realtime.channels.get("healthcare");
    channel.subscribe(function (msg) {
        console.log(msg.data);
    });
</script>
</html>
